
API/Web.config
Backend/Web.config
*.config
*.config
API/Web.config
Backend/Web.config
*.config
Backend/Web.config
*.config
*.config
*.dll
*.pdb
.vs/TorneoPrediccionesBack/v15/.suo
API/Bin/API.dll
API/Bin/API.pdb
API/Bin/Domain.dll
API/Bin/Domain.pdb
API/Bin/PsTools.dll
API/Bin/PsTools.pdb
API/obj/Debug/API.dll
API/obj/Debug/API.pdb
Backend/Bin/Backend.dll
Backend/Bin/Backend.pdb
Backend/Bin/Domain.dll
Backend/Bin/Domain.pdb
Backend/Bin/PsTools.dll
Backend/Bin/PsTools.pdb
Backend/obj/Debug/Backend.csproj.FileListAbsolute.txt
Backend/obj/Debug/Backend.csprojAssemblyReference.cache
Backend/obj/Debug/Backend.csprojResolveAssemblyReference.cache
Backend/obj/Debug/Backend.dll
Backend/obj/Debug/Backend.pdb
Domain/bin/Debug/Domain.dll
Domain/bin/Debug/Domain.pdb
Domain/obj/Debug/Domain.csprojAssemblyReference.cache
Domain/obj/Debug/Domain.dll
Domain/obj/Debug/Domain.pdb
NotificationTest/bin/Debug/NotificationTest.exe
NotificationTest/bin/Debug/NotificationTest.pdb
NotificationTest/obj/Debug/NotificationTest.csproj.FileListAbsolute.txt
NotificationTest/obj/Debug/NotificationTest.csprojAssemblyReference.cache
NotificationTest/obj/Debug/NotificationTest.csprojResolveAssemblyReference.cache
NotificationTest/obj/Debug/NotificationTest.exe
NotificationTest/obj/Debug/NotificationTest.pdb
API/obj/Debug/API.csproj.CoreCompileInputs.cache
.vs/config/applicationhost.config
.vs/TorneoPrediccionesBack/v15/Server/sqlite3/storage.ide-shm
API/obj/Debug/API.csproj.CoreCompileInputs.cache
API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Backend/obj/Debug/Backend.csproj.CoreCompileInputs.cache
Backend/obj/Debug/Backend.csprojAssemblyReference.cache
Backend/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Domain/obj/Debug/Domain.csproj.CoreCompileInputs.cache
NotificationTest/obj/Debug/NotificationTest.csprojAssemblyReference.cache
Backend/obj/Release/Package/PackageTmp/Views/Account/Login.cshtml
